@font-face {
    font-family: fontTest;
    src: url('assets/fonts/metropolis.regular.otf');
}

body{
    background-color: rgba(83,86,88,255);
}

.table_email{
    max-width: 600px;
    padding: 10px;
    margin:0 auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.td_banner_footer{
    padding: 0
}

.img_banner_footer{
    padding: 0;
    display: block
}

#table_content{
    padding: 35px 40px 20px 75px;
}

.name{
    color: rgba(34, 113, 190);
    font-size: 28px;
    font-style: italic;
    font-weight: 900;
    font-family: fontTest;
    padding-left: 20px;
}

.td_lines{
    font-family: fontTest;
    color: rgb(104,104,105);
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 18px;
}

.label {
    color: rgb(36,116,188);
    font-weight: 900;
    font-size: 18px;
}

.red_salud{
    color: rgb(28,164,132);
    font-weight: 900;
}

.dotted_line{
    border-top-style: dashed;
    border-top-width: 3px;
    border-top-color: rgba(172,214,254,255);
}

.cuadro{
    position: relative;
}

.cuadro_texto{
    font-size: 14px;
    font-family: fontTest;
    color: rgba(34, 113, 190);
}


.td_condition_title{
    font-family: fontTest;
    color: rgb(104,104,105);
    padding-bottom: 12px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 65px;
}

.td_condition_info{
    font-family: fontTest;
    color: rgba(34, 113, 190);
    padding-bottom: 12px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 65px;
}


/* @media screen and (max-width: 440px) { 
  
    .table_email{
        width: 100%;
    }
    
} */
