@font-face {
    font-family: fontTest;
    src: url('assets/fonts/metropolis.regular.otf');
}

body {
    background-color: rgba(83, 86, 88, 255);
}

.table_email {
    max-width: 600px;
    font-size: 15px;
    padding: 10px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.td_banner_footer {
    padding: 0
}

.img_banner_footer {
    padding: 0;
    display: block
}

#table_content {
    padding: 35px 40px 20px 75px;
}

.name {
    color: rgba(34, 113, 190);
    font-style: italic;
    font-weight: 900;
    font-family: fontTest;
    padding-left: 20px;
    font-size: 1.4em
}

.td_lines {
    font-family: fontTest;
    color: rgb(104, 104, 105);
    padding-top: 1em;
    padding-bottom: 1em;
}

.label {
    color: rgb(36, 116, 188);
    font-weight: 900;
}

.red_salud {
    color: rgb(28, 164, 132);
    font-weight: 900;
}

.dotted_line {
    border-top-style: dashed;
    border-top-width: 3px;
    border-top-color: rgba(172, 214, 254, 255);
}

.cuadro {
    position: relative;
}

.cuadro_texto {
    font-family: fontTest;
    font-size: 0.8em;
    color: rgba(34, 113, 190);
}


.td_condition_title {
    font-family: fontTest;
    color: rgb(104, 104, 105);
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 65px;
}

.td_condition_info {
    font-family: fontTest;
    color: rgba(34, 113, 190);
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 65px;
    font-size: 0.85em;
}

.table_img {
    padding-left: 35px;
    padding-right: 30px;
    width: 100%;
}

.logo_icon {
    width: 7em;
}


.td_texto {
    padding-top: 0;
    padding-left: 0.1em;
}


@media screen and (max-width: 440px) {
    .table_email {
        font-size: 14px;
        max-width: 100%;
        width: 100%;
        margin: 0;
    }

    #table_content {
        padding: 20px 15px 5px 30px;
    }


    .td_condition_title {
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .td_condition_info {
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .table_img {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

    .td_texto {
        padding-top: 0.5em;
        padding-left: 0.3em;
    }
}